<% include ../common/header.html %>
<body>
<% include ../common/top.html %>

<% include ../common/nav.html %>

<div class="container">
    <div class="row mb-10 mt-20">
        <div class="col-md-12">
            <pre style="white-space: pre-wrap;">
        <strong style="margin-left: -2em;">一.比特猪是什么？</strong>

        Nour俱乐部，由多个创投集团和基金会共建的公益性开放俱乐部，使命是共建和推动比特币零钱比特猪NOUR小额支付生态圈。俱乐部成员包含环网金融，光速基金会，比特币上帝之称的Rome Ver，Bitcoin Unlimited首席科学家Peter，等多家金融和区块链创新机构，总部位于世界金融中心香港，致力于推动比特猪Nour更大范围的普及和应用。

        <strong style="margin-left: -2em;">二、比特猪怎么玩？</strong>

        每天过了24点可以领养第二天的比特猪宠物资产，请注意领养时间，提前预约，抢不到猪微分会退回的！每天下午开始抢猪，有8个时间点：13:50  14:50、16:20、16:50、17:20、19:50、 20:20、20:50。

        记得提前预约和定好闹钟哦！

        <strong style="margin-left: -2em;">三、比特猪币种</strong>

        1.微分：30微分激活后，可预约比特猪，大于30（50）的可转赠；

        2.Nour：通过养殖获得，填写钱包地址提币1000起提，扣手续费10%；

        3.提现：Nour，DOGE经过一个区块提币周期；

        4.奖金：推广奖满301打包区块出售区块宠物，团队奖901出售，出售金额根据区块自行调整，奖金经过1个区块收益周期自动出售；

        5.DOGE：狗狗币通过抽奖获得，填写钱包地址提币，1000个起提，扣手续费10%；

        6.抽奖券：注册：赠送一张抽奖券，抢到晒猪：送抽奖券1张，抢不到抽奖：送抽奖券1张，红包社群：送抽奖券1张；

        <strong style="margin-left: -2em;">四、比特猪注册流程</strong>

        1.注册：会员扫码或链接注册，APP下载，注册手机号畅通；

        2.支付认证：填写真实姓名，账号微信（能搜索到）或支付宝（已实名）收款二维码（非加好友码）；

        3.激活：微分激活会员帐户支付或者推荐人购买30微分激活；

        4.升级：满足条件升级大使等，未激活：不能预约和领养猪；

        <strong style="margin-left: -2em;">五、比特猪会员等级</strong>

        1.游客注册：赠送5微分和一张抽奖券；

        2.会员：注册实名认证，后购买微分激活；

        3.大使：直推10名有效会员，推广奖累计收益2000；

        4.服务商：直推15名会员，3代内有效团队50，推广奖累计收益10000；

        5.合伙人：直推20会员，3代内有效团队100，推广奖累计收益30000；

        <strong style="margin-left: -2em;">六、比特猪交易流程</strong>

        1.预约即抢：预约领养扣5折微分即抢领养扣相应微分开抢前15分结束预约；

        2.待领养：抢猪后，按区块信息支付领养心仪的猪，倒计时2小时付款上传凭证区块写入，不可篡改；

        3.收益中：繁殖中，每个合约周期收益率3%-5%，可续约或兑换Nour；

        4.待转让：领养长大的猪，合约到期强制自动出售转让方收款后请在2小时内确定；不确定的2小时后自动确定，默认转让方确定过后果和经济损失转让方承担；

        5.已完成：出售完成抚的猪，令人怀念如领养方未及时付款，自动撤销，转让方在下个区块段自动售出，领养方风控惩罚；

        <strong style="margin-left: -2em;">七、比特猪交易规则</strong>

        1.申诉：转让方在待转让中可申诉，转让方在倒计时2小时快结束时未收到款，可联系客服传图但未收款可申诉；

        2.续约：猪猪收益结束前可继续续约，在该抢猪时间15分钟之前；

        3.兑换：领养结束前，可按照当前的Nour价格兑换成Nour进行交易；

        <strong style="margin-left: -2em;">八、比特猪猪猪集市</strong>

        1.猪猪信息：会员可在集市中查看猪猪的金额和领养时间，预约需要的足额微分抢购比特猪；

        2.抢购注意：先用微分预约，然后在规定时间抢购。抢购不成功，微分立即退回，晒猪抽奖；抢购成功，则不退还，晒猪抽奖；

        3.挂卖收益：打包区块在线出售宠物，必须经过1个区块收益周期，每6小时为1个收益周期，区块自行调整；

        <strong style="margin-left: -2em;">九、比特猪奖励规则</strong>

        1.推广奖：一代8%，二代3%，三代5%；

        2.团队奖-大使：1%，直推10有效会员，推广奖累计2000；

        3.团队奖-服务商：3%，直推15会员，3代内50，推广奖累计10000；

        4.团队奖-合伙人： 5%，直推20会员，3代内100，推广奖累计30000；

        <strong style="margin-left: -2em;">十、比特猪怎么注册？</strong>

        注册链接：<a href="http://giftu.top/Qt/R/TZ?RID=P3i9sb2W" title="比特猪" target="_blank">http://giftu.top/Qt/R/TZ?RID=P3i9sb2W</a>

        或手机扫描二维码：

        <img src="../images/article/btz.png" class="img-responsive center-block">

        <strong style="margin-left: -2em;">十一、比特猪怎么下载？</strong>

        安卓APP下载地址：

        <a href="https://fir.im/m4x2" title="比特猪安卓下载" target="_blank">https://fir.im/m4x2</a>

        苹果APP下载地址：

        <a href="https://fir.im/n41a" title="比特猪苹果下载" target="_blank">https://fir.im/n41a</a>

        <strong style="margin-left: -2em;">十二、比特猪是骗局吗，到底是什么抢猪游戏？</strong>

        关于比特猪是不是骗局？自己要学会识别一下。不管玩什么游戏，一定要量力而行，不要沉迷。

        <strong>总之，投资有风险，理财需谨慎。</strong>

        coincola注册地址：<a href="https://www.coincola.app/" title="coincola" target="_blank">https://www.coincola.app/</a>

        imToken钱包注册：<a href="https://token.im/" title="imToken" target="_blank">https://token.im/</a>



        （比特猪QQ交流群：597065988，或添加微信号：LeoY0123）

        注：添加微信请备注-比特猪
            </pre>
        </div>
    </div>
</div>

<% include ../common/footer.html %>