<% include ../common/header.html %>
<body>
<% include ../common/top.html %>

<% include ../common/nav.html %>

<div class="container">
    <div class="row mb-10 mt-20">
        <div class="col-md-12">
            <pre style="white-space: pre-wrap;">
        <strong style="margin-left:-2em;">一、全民大果园是什么？</strong>

        全民大果园是一款基于区块链底层技术开发的一款果实种植类游戏。

        <strong style="margin-left:-2em;">二、全民大果园怎么玩？</strong>

        1.预约时间：

        每天晚上22:00之后开始预约，看自己情况预约1-10天的种子（推荐预约1-5天的回款快）。

        2.预约操作：

        <img src="../images/article/qmdgy/yy.png" class="img-responsive center-block" alt="全民大果园">

        3.查看预约是否成功：

         每天早上10:00之后，可以在自己的预约记录，看自己是否预约成功，如下图：

        <img src="../images/article/qmdgy/yy_2.png" class="img-responsive center-block" alt="全民大果园">

        <img src="../images/article/qmdgy/yy_3.png" class="img-responsive center-block" alt="全民大果园">

        4.预约成功付款及上传凭证：

        <img src="../images/article/qmdgy/zfb_pz.png" class="img-responsive center-block" alt="全民大果园">

        <img src="../images/article/qmdgy/wx_pz.png" class="img-responsive center-block" alt="全民大果园">

        <strong style="color: #FF0000;">
        注意事项：

        (1).约成功了必须付钱，不然会封号，并且扣除你的推荐人200元；

        (2).付款上传凭证，一定上传标准凭证；
        </strong>
        5.收到种子：

        收到种子是没有提示的，需要到我的果园，点击土地才能知道自己背包里有没种子，如果没有的话，就是卖家还没确定（只要上传了标准凭证就不要着急，系统14:00会自动确认）。

        6.种种子：

        点击土地，然后点你要种的哪个种子就可以了，如下图：

        <img src="../images/article/qmdgy/zz.png" class="img-responsive center-block" alt="全民大果园">

        <img src="../images/article/qmdgy/zz_1.png" class="img-responsive center-block" alt="全民大果园">

        7.土地赋能：

        <img src="../images/article/qmdgy/fn.png" class="img-responsive center-block" alt="全民大果园">

        <img src="../images/article/qmdgy/fn_1.png" class="img-responsive center-block" alt="全民大果园">

        <strong style="color: #FF0000;">重要事项：千万不要忘记土地赋能，一天一次，不然你那天的收益就没有了！赋能时间不能超过24:00！！</strong>

        8.卖出果实：

        卖出比较容易，一般三天的种子，第四天系统会自动卖出，这个时候需要你确定是否到账， 到账了点击确认就可以。 如果不到账，就是买家没付款，系统会给你推迟一天卖出，补你这一天的收益，封买家的账号，并扣其上家的200元的收益。

        <img src="../images/article/qmdgy/jy.png" class="img-responsive center-block" alt="全民大果园">

        <img src="../images/article/qmdgy/jy_1.png" class="img-responsive center-block" alt="全民大果园">

        <strong style="margin-left:-2em;">三、全民大果园怎么注册？</strong>

        手机扫描二维码注册：

        <img src="../images/article/qmdgy/dgy_zc.png" class="img-responsive center-block" alt="全民大果园">

        <strong style="margin-left:-2em;">四、全民大果园怎么下载？</strong>

        下载链接地址：

        <a href="https://www.byldgy.com/index.php/DmsUser/App/downapp" title="全民大果园" target="_blank">https://www.byldgy.com/index.php/DmsUser/App/downapp</a>

        或手机扫描二维码：

        <img src="../images/article/qmdgy/dgy_xz.png" class="img-responsive center-block" alt="全民大果园下载">

        <strong style="margin-left:-2em;">五、全民大果园怎么激活账号？</strong>

        <strong style="color: #FF0000;">目前激活账号的方式只有一种，就是找推荐你注册的人买100元的养料，自己充值不了。</strong>

        <strong style="margin-left:-2em;">六、推广有多少收益？</strong>

        平台很重视推广，会给你直推收益的20%，当推荐收益到达300之后可以种在自己的土地里，第二天卖出。

        <strong style="margin-left:-2em;">七、全民大果园是骗局吗，到底是什么种树游戏？</strong>

        关于全民大果园是不是骗局？自己要学会识别一下。不管玩什么游戏，一定要量力而行，不要沉迷。

        <strong>总之，投资有风险，理财需谨慎。</strong>



        （全民大果园QQ交流群：308798820，或添加微信号：LeoY0123）

        注：添加微信请备注-全民大果园
            </pre>
        </div>
    </div>
</div>

<% include ../common/footer.html %>