<!DOCTYPE html>
<html lang="zh-cn">
<head>
<title>活跃度相关问题</title>
<!-- <meta name="keywords" content="<%= keywords %>">
<meta name="description" content="<%= description %>"> -->
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta name="format-detection" content="telephone=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge, Chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="shortcut icon" href="/favicon.ico"/>

<link rel="stylesheet" type="text/css" href="../../../public/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="../../../public/stylesheets/css/common.css"/>
<link rel="stylesheet" href="../../../public/stylesheets/css/reset.css"/>
<link rel="stylesheet" href="../../../public/stylesheets/css/index.css"/>
<link rel="stylesheet" href="../../../public/stylesheets/css/guide_list.css"/>

<script type="text/javascript" src="../../../public/lib/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../../public/javascripts/common/common.js"></script>
<script type="text/javascript" src="../../../public/lib/bootstrap/bootstrap.min.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?527a12dff03e35c3657fad7f616ee651";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <div class="pull-left mt-10">
                        <a href="/">
                            <img src="../../../public/images/logo/pp_logo_06.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="pull-right">
                        <p class="mt-15">微信：Seven-lit</p>
                        <a href="//shang.qq.com/wpa/qunwpa?idkey=eb4a02c9ec37e845f7decaf252a3356854a18e3b850732adcad4c7530b0f850d" target="_blank" class="mt-5 center-block"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="趣步" title="趣步"></a>
                        <!--<div class="clearfix">
                            <ul class="header-nav" id="header-nav">
                                <li class="<%= current_url == '/common/faq' ? 'active' : ''; %>">
                                    <a href="/common/faq">常见问题</a>
                                </li>
                                <% if (typeof nick_name === 'undefined') { %>
                                    <li class="<%= current_url == '/member/login' ? 'active' : ''; %>">
                                        <a href="/member/login">登陆 <%= nick_name %></a>
                                    </li>

                                    <li class="pl-0">
                                        <span class="color-fff mlr-5">|</span>
                                    </li>

                                    <li class="pl-0 <%= current_url == '/member/signup' ? 'active' : ''; %>">
                                        <a href="/member/signup">注册</a>
                                    </li>
                                <% }else{ %>
                                    <li>
                                        <span class="color-fff">您好！<%= nick_name %>，<a href="/member/logout">退出登录</a></span>
                                    </li>
                                <% } %>

                            </ul>
                        </div>
                        <div class="search-bar">
                            <form id="form">
                                <input type="text" class="all-search br-none" id="all_search" placeholder="请输入搜索内容" value="">
                                <input type="submit" class="search-sub pull-right" id="search_sub" value="">
                            </form>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-static-top clearfix" style="margin-bottom: 0;">
       <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                  <span class="sr-only">切换导航</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">首页</a>
            </div>

            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                 <ul class="nav navbar-nav text-center">
                     <li class="">
                         <a href="../../index.html">首页</a>
                     </li>
                     <li class="">
                         <a href="./guide_list.html">新手指南</a>
                     </li>
                     <li class="hide">
                         <a href="<%= current_url == '/video' ? 'javascript:' : '/video'; %>">视频讲解</a>
                     </li>
                     <li class="">
                         <a href="./download.html">下载客户端</a>
                     </li>
                     <li class="">
                         <a href="/">联系我们</a>
                     </li>
                     <!--<li class="<%= current_url == '/center/index' ? 'active' : ''; %>">
                         <a href="/center/index">个人中心</a>
                     </li>-->
                 </ul>
            </div>
        </div>
    </nav>

    <div class="carousel-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="guide-cont-div">
                    <img src="../../../public/images/article/qubu/banner_01.jpg" alt="趣步"/>
                </div>
            </div>  
        </div>
    </div>
    
    <div class="carousel">
        <div class="row">
        	<div class="col-md-12">
        		<ul class="pdlr-15">
        			<li class="guide-cont-li">
        				<h4>1、什么是活跃度？会员怎么提升活跃度？</h4>
        				<p>活跃度是指用户使用趣步APP的活跃程度，由基本活跃度（任务活跃度）和加成活跃度（推广获取）组成。</p>
        			</li>
        			<li class="guide-cont-li">
        				<h4>2、如何获得基本活跃度？</h4>
        				<p>积累糖果，兑换任务卷轴。任务卷轴等级越高，其基本活跃度越高。</p>
        			</li>
        			<li class="guide-cont-li">
        				<h4>3、如何获得更多的加成活跃度？</h4>
        				<p>推荐更多的会员并挑战更高级的任务。因为你享受直推会员的基本活跃度的5%加成。还可以通过加入俱乐部或组队运动，可以获得相应活跃度的加成。还可以成为趣步城市推广合伙人，享受推广城市所有会员基本活跃度之和的1%加成。</p>
        			</li>
        			<li class="guide-cont-li">
        				<h4>4、如果我的团队活跃度大于2000点小于8000点，会获得什么奖励呢?</h4>
        				<p>活跃度增加了，活跃度越高，产出糖果数越多。同时享受全球交易手续费20%档分红权。</p>
        			</li>
                    <li class="guide-cont-li">
                        <h4>5、我没有进行中的任务卷轴，我会有活跃度吗？</h4>
                        <p>没有任务卷轴就没有基本活跃度，没有基本活跃的就不会有糖果产出。</p>
                    </li>
                    <li class="guide-cont-li">
                        <h4>6、我有很高的活跃度，但是不运动，会有糖果产出吗？</h4>
                        <p>每日获取糖果数=每步产出糖果数（0.00008）*任务步数*活跃度。不运动，再高的活跃度也等于零，无糖果产出。</p>
                    </li>
                    <li class="guide-cont-li">
                        <h4>7、为什么我的活跃度会减少？</h4>
                        <p>1）自己的任务卷到期，对应的任务卷轴基本活跃度会自动减少；</p>
                        <p>2）直推的任务卷轴到期，你对应加成活跃度也会自动减少；</p>
                        <p>3）团队会员任务卷轴到期，对应团队的活跃度也会自动减少 。</p>
                    </li>
        		</ul>
        	</div>	
        </div>
    </div>

    <div class="footer">
       <!--  <p class="copyright">© 2016-2019 gpaopao.com 版权所有 ICP证：<a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备16085337号-1</a></p> -->
    </div>

    <script type="text/javascript">
        !function(){
            function PageScript() {
                var self = this;

                this.init = function(){
                    self.bindEvent();
                    return self;
                };

                this.bindEvent = function(){
                    $("#backTop").click(function(){
                        self.backTop();
                    });

                    $(document).scroll(function() {
                        var scrollHeight = $(document).scrollTop();  //滚动高度
                        var winHeight = $(window).height();  //可见高度

                        if(scrollHeight >= winHeight){
                            $("#backTop").show(300);
                        }else{
                            $("#backTop").hide(300);
                        }
                    });
                };

                //回到顶部
                this.backTop = function () {
                    $('html ,body').animate({scrollTop: 0}, 300);
                };
            }
            window.pageScript = new PageScript().init();
        }();
    </script>
</body>
</html>