<% include ../common/header.html %>
<body>
<% include ../common/top.html %>

<% include ../common/nav.html %>

<div class="carousel-inner">
    <div class="row">
    	<div class="col-md-12">
    		<div class="guide-cont-div">
    			<img src="../images/article/qubu/banner_01.jpg" alt="趣步"/>
    		</div>
    	</div>	
    </div>
</div>
<div class="carousel">
    <div class="row">
    	<div class="col-md-12">
    		<ul class="pdlr-15">
    			<li class="guide-cont-li">
    				<h4>1、趣步是什么？</h4>
    				<p>趣步是立足运动健康领域，以及区块链技术为支撑，开发并运营趣步APP及网络商城，鼓励全民关注自身健康，参与快乐运动的创新型科技公司。</p>
    			</li>
    			<li class="guide-cont-li">
    				<h4>2、趣步APP的主要创新点是什么？</h4>
    				<p>趣步APP基于区块链技术为底层，以运动健康为理念，糖果为激励，鼓励全民运动，注重身心健康。</p>
    			</li>
    			<li class="guide-cont-li">
    				<h4>3、趣步APP和趣步IWC糖果是不是合法的呢？</h4>
    				<p>合法。趣步IWC糖果并非数字货币，本身不具备货币功能，只是用于奖励热爱运动的人们，可以兑换商城商品或合作商家优惠券等功能。</p>
    			</li>
    			<li class="guide-cont-li">
    				<h4>4、使用你们的APP一个月可以赚多少钱？</h4>
    				<p>趣步公司不对会员收益做任何承诺，每个人的收益都是靠自己的运动及经营获取。</p>
    			</li>
    			<li class="guide-cont-li">
    				<h4>5、能通俗的解释一下什么是区块链吗？</h4>
    				<p>如果我们把数据库假设成一本账本，读写数据库就可以看做一种记账的行为，区块链技术的原理就是在一段时间内找出记账最快最好的人，由这个人来记账，然后将账本的这一页信息发给整个系统里的其他所有人。这也就相当于改变数据库所有的记录，发给全网的其他每个节点，所以区块链技术也称为分布式账本。</p>
    			</li>
    		</ul>
    	</div>	
    </div>
</div>

<% include ../common/footer.html %>