<% include ../common/header.html %>
<body>
<% include ../common/top.html %>

<% include ../common/nav.html %>

<div class="carousel-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="guide-cont-div">
                <img src="../images/article/qubu/banner_01.jpg" alt="趣步"/>
            </div>
        </div>  
    </div>
</div>
<div class="carousel">
    <div class="row">
        <div class="col-md-12">
            <ul class="pdlr-15">
                <li class="guide-cont-li">
                    <h4>1、如何成为趣步会员？</h4>
                    <p>下载注册趣步APP，注册并实名认证，平台审核通过即成为趣步会员。</p>
                </li>
                <li class="guide-cont-li">
                    <h4>2、我该如何下载与注册APP（android系统）？</h4>
                    <p>第一步：长按识别会员推广二维码；</p>

                    <p>第二步：在注册页面会出现手机号、验证码、密码、推荐人等，将这些资料完善，提交注册，再点击直接下载APP；</p>

                    <p>第三步：根据手机选择下载Android版（如果微信无法下载，请通过右上角功能中的浏览器打开下载页面）；</p>

                    <p>第四步：下载安装；</p>

                    <p>第五步：打开APP，输入手机号和密码，直接登陆即可。</p>
                </li>
                <li class="guide-cont-li">
                    <h4>3、趣步APP和趣步IWC糖果是不是合法的呢？</h4>
                    <p>合法。趣步IWC糖果并非数字货币，本身不具备货币功能，只是用于奖励热爱运动的人们，可以兑换商城商品或合作商家优惠券等功能。</p>
                </li>
            </ul>
        </div>  
    </div>
</div>

<% include ../common/footer.html %>