<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>%s</title>
    <meta name="keywords" content="%s">
    <meta name="description" content="%s">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="http://gpaopao.com/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="http://gpaopao.com/resources/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="http://gpaopao.com/resources/stylesheets/common.css"/>
    <link rel="stylesheet" href="http://gpaopao.com/resources/stylesheets/reset.css"/>
    <link rel="stylesheet" href="http://gpaopao.com/resources/stylesheets/index.css"/>
</head>
<body>
<div style="margin:1em;">
    <div style="background:#f2f2f2;">
        <div style="padding:1em;">
            <img src="http://gpaopao.com/resources/images/logo.png">
        </div>
        <div style="padding:1em;">
            <div style="padding:15px; border:1px solid #ccc; background:#fff; overflow:hidden;">
                <div style="margin-top:15px; font-weight:bold; font-size:18px;">亲爱的用户：</div>
                <div style="margin-top:30px; padding-bottom:100px; color:#1a1a1a; border-bottom:1px dashed #ccc;">
                    <p>您好！感谢您使用怪泡泡网站，您正在进行邮箱验证，本次请求的验证码为：</p>
                    <div style="margin-top:10px;">
                        <span style="color:#f59421; font-weight:bold; font-size:18px; border-bottom:1px solid #f59421;">%s</span>
                        <span style="color:#999; margin-left:0.5em;">(为了保障您帐号的安全性，请在1小时内完成验证。)</span>
                    </div>
                </div>
                <div style="margin:15px 20px 0 0; float:right;">
                    <p>怪泡泡账号团队</p>
                    <p style="margin-top:5px;">%s</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>