<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left mt-10">
                    <a href="/">
                        <img src="../images/logo/pp_logo_06.png" class="img-responsive">
                    </a>
                </div>
                <div class="pull-right">
                    <p class="mt-15">微信：LeoY0123</p>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=eb4a02c9ec37e845f7decaf252a3356854a18e3b850732adcad4c7530b0f850d" target="_blank" class="mt-5 center-block"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="趣步" title="趣步"></a>
                    <!--<div class="clearfix">
                        <ul class="header-nav" id="header-nav">
                            <li class="<%= current_url == '/common/faq' ? 'active' : ''; %>">
                                <a href="/common/faq">常见问题</a>
                            </li>
                            <% if (typeof nick_name === 'undefined') { %>
                                <li class="<%= current_url == '/member/login' ? 'active' : ''; %>">
                                    <a href="/member/login">登陆 <%= nick_name %></a>
                                </li>

                                <li class="pl-0">
                                    <span class="color-fff mlr-5">|</span>
                                </li>

                                <li class="pl-0 <%= current_url == '/member/signup' ? 'active' : ''; %>">
                                    <a href="/member/signup">注册</a>
                                </li>
                            <% }else{ %>
                                <li>
                                    <span class="color-fff">您好！<%= nick_name %>，<a href="/member/logout">退出登录</a></span>
                                </li>
                            <% } %>

                        </ul>
                    </div>
                    <div class="search-bar">
                        <form id="form">
                            <input type="text" class="all-search br-none" id="all_search" placeholder="请输入搜索内容" value="">
                            <input type="submit" class="search-sub pull-right" id="search_sub" value="">
                        </form>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
